.vim/init.vim
.vim/ginit.vim
.vim/bundle/*
.vim/dein/*
.vim/.netrwhist
!.vim/bundle/neobundle.vim
.nvim/bundle/*
!.nvim/bundle/neobundle.vim
.vimperator/info/*
.vimperator/vimperator-plugins/*
.zsh/.zcompdump
.config/ranger/bookmarks
.config/ranger/history

