# settings for bash
$if Bash
  # no beep
  set bell-style none
  # ignorecase
  set completion-ignore-case on
  # bind
  # show completions 
  # TAB to cycle completions
  TAB: menu-complete
  # shift+TAB to go to backward. Not work well.
  # "\e[Z": menu-complete-backward
  # C-j to show all completions (Bash default)
  "\C-j": complete
$endif
